body {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.invoice-header {
    color: forestgreen;
    font-weight: bold;
}

.invoice-section-title {
    background-color: #3b883d;
    color: white;
    padding: 6px;
    font-weight: 600;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #3b883d;
    text-align: center;
    vertical-align: middle;
}

.invoice-table tbody tr:nth-child(even) {
    background-color: #f0f7f0;
}

.info-label {
    font-weight: 600;
    background-color: #cce0cc;
    padding: 4px 8px;
}

.info-value {
    padding: 4px 8px;
}

.invoice-footer {
    border: 2px solid brown;
    padding: 1rem;
    margin-top: 2rem;
}

.no-left-bottom-border {
    border-left: none !important;
    border-bottom: none !important;
}

.no-left-bottom-top-border {
    border-left: none !important;
    border-bottom: none !important;
    border-top: none !important;
}
